<html>
    <head>
        <title>www.TM.lemeilleurdelamusique.fr</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Interview de Michel</a></h1>
        </div>

        <div>
            <p>publié le: 14.02.2020, 15:15</p>
            <h2><a href="">Michel, un grand artiste</a></h2>
            <p>Petit, il faisait de la musique. Il adorait en faire. Le jour de ses 12 ans, ses parents lui achètent une guitare. Cette guitare, ère aujourd'hui, entre les mains d'un des plus grands musiciens de tout les temps</p>
        </div>

        <div>
            <p>publié le: 14.02.2020, 15:20</p>
            <h2><a href="">Moi</a></h2>
            <p>Bah bonjour. Je m'appelle Nathan et je suis en 3ème. Je suis UN GROS GAMER !!!</p>
        </div>
    </body>
</html>